################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SentimentAnalysis/.vs/SentimentAnalysis/v15/Server/sqlite3
